<?xml version="1.0" encoding="UTF-8"?>
<config>
		<modules>
				<MakingSense_Doppler>
						<version>0.1.3</version>
				</MakingSense_Doppler>
		</modules>
		<admin>
				<routers>
						<adminhtml>
								<args>
										<modules>
												<MakingSense_Doppler before="Mage_Adminhtml">MakingSense_Doppler_Adminhtml</MakingSense_Doppler>
										</modules>
								</args>
						</adminhtml>
				</routers>
		</admin>
		<adminhtml>
				<translate>
						<modules>
								<MakingSense_Doppler>
										<files>
												<default>MakingSense_Doppler.csv</default>
										</files>
								</MakingSense_Doppler>
						</modules>
				</translate>
				<layout>
						<updates>
								<MakingSense_Doppler>
										<file>makingsense_doppler.xml</file>
								</MakingSense_Doppler>
						</updates>
				</layout>
		</adminhtml>
		<global>
				<helpers>
						<makingsense_doppler>
								<class>MakingSense_Doppler_Helper</class>
						</makingsense_doppler>
				</helpers>
				<blocks>
						<makingsense_doppler>
								<class>MakingSense_Doppler_Block</class>
						</makingsense_doppler>
						<adminhtml>
								<rewrite>
										<customer_grid>MakingSense_Doppler_Block_Adminhtml_Customer_Grid</customer_grid>
								</rewrite>
						</adminhtml>
				</blocks>
				<models>
						<makingsense_doppler>
								<class>MakingSense_Doppler_Model</class>
								<resourceModel>makingsense_doppler_resource</resourceModel>
						</makingsense_doppler>
						<makingsense_doppler_resource>
								<class>MakingSense_Doppler_Model_Resource</class>
								<entities>
										<doppler_leadmap>
												<table>doppler_leadmap</table>
										</doppler_leadmap>
										<doppler_subscribers>
												<table>doppler_subscribers</table>
										</doppler_subscribers>
										<doppler_lists>
												<table>doppler_lists</table>
										</doppler_lists>
								</entities>
						</makingsense_doppler_resource>
				</models>
				<resources>
						<makingsense_doppler_setup>
								<setup>
										<module>MakingSense_Doppler</module>
										<class>Mage_Catalog_Model_Resource_Setup</class>
								</setup>
						</makingsense_doppler_setup>
				</resources>
		</global>
</config>
