.non-editable {
    background-color: transparent !important;
    border-width: 0 !important;
    cursor: default;
}

.adminhtml-subscribers-index button.add span {
    background-image: url("../images/save_btn_icon.gif");
}

.adminhtml-subscribers-index td.last {
    background-color: #FFFCDD;
}

.adminhtml-subscribers-index tr.even td.last {
    background-color: #F3F0D3;
}

#makingsense_doppler_defaultlist_grid_table td {
    vertical-align: middle;
    padding: 100px;
    text-align: center;
}

#makingsense_doppler_defaultlist_grid_table td.last {
    font-weight: bold;
}